SetEnv PHP_VER 5_4

<IfModule mod_rewrite.c>
	RewriteEngine On
	
	#RewriteCond %{HTTPS} off
	#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	#RewriteCond %{HTTP_HOST} ^domain.com$
	#RewriteRule ^(.*) https://www.domain.com/$1 [QSA,L,R=301]
	
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule (.*) /index.php
</IfModule>

<IfModule mod_expires.c>
	# Enable expirations
	ExpiresActive On 
	# Default directive
	ExpiresDefault "access plus 0 day"
	# My favicon
	ExpiresByType image/x-icon "access plus 1 year"
	# Images
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType image/jpg "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	# CSS
	ExpiresByType text/css "access 1 month"
	# Javascript
	# Webfonts
	ExpiresByType font/truetype             "access plus 1 year"
	ExpiresByType font/opentype             "access plus 1 year"
	ExpiresByType application/x-font-woff   "access plus 1 year"
	ExpiresByType image/svg+xml             "access plus 1 year"
	ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
</IfModule>

FileETag none